@page
@model RegisterModel
@{
    ViewData["Title"] = "註冊";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        @* 修改寬度讓表單更好看 *@
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>建立新帳號</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                @* 使用 form-floating (Bootstrap 5) *@
                <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="您的姓名" />
                <label asp-for="Input.Name">姓名</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Address" class="form-control" autocomplete="street-address" aria-required="true" placeholder="您的地址" />
                <label asp-for="Input.Address">地址</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="tel" aria-required="true" placeholder="您的電話" />
                <label asp-for="Input.PhoneNumber">電話</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">密碼</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">確認密碼</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">註冊</button>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
